<section class="section-event-page" id="bot">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>BOT PULL<center><hr></center></h1>
    <!--  <p class="event-moto"><q>“Men will come marching with their herculean build, women dressed in
elegance &amp; gilt. Come along take a stylish walk down the memory lane, O’ fella
cause it’s “ANANT-2k18”.”</q><br></p>
</div>-->
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>'BOT PULL' to you all. The show of strength but not for you. And of course, for your robot.
Pull the opponent robot through the minimum distance and you win. Simply, its the 'tug of war 'of robots.
 <strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div> -->
      <h3 class="title">Schedule</h3>
      <div class="event-text"> -->
        <p>DAY : 2</p>
        <p>TIME : 16:00<p>
        <p>Venue:Basketball Court</p>
      </div>
     <!-- <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;50 per person</p>
      </div>
      <h3 class="title">General Rules:</h3>
      <div class="event-text">
        <ul>
          <li>Each team should consist of two members</li>
<li>No two teams can have single participant common.</li>
<li>The team members can be from different schools or colleges with valid ID cards</li>
<li>The organizing committee reserves the right to change any rule at any time as per the requirements.</li>
<li>The decision of the organizing committee will be final and binding.</li>

        </ul>
      </div>

      <h3 class="title">BOT SPECIFICATIONS:</h3>
      <div class="event-text">
        <ul>
          <li>The length ,breadth and height of the robot must not exceed 30cm at any part of the game.</li>
          <li>The bot may be controlled by wired or wireless mechanism.</li>
          <li>No Lego parts or any other ready-made mechanism is allowed to be used although ready-made chassis,gear assemblies etc. are permitted .</li>
          <li>The participants must bring their own power supply and it should not exceed 18 V between any two points of the circuit.</li>
          <li>A bot must have a provision (hook or slot) to tie rope.(Rope will be provided by the organizers.)</li>
          <li>The weight of the bot must not exceed 5 kg at any point of the game .</li>


        </ul>
      </div>
      <h3 class="title">SCORING CRITERIA:</h3>
      <div class="event-text">
        <ul>
          <li>The scoring will be done only during the 1 minute competition of robots.</li>
          <li>There will be two rounds of 30 seconds each.</li>
          <li>First round will be the elimination round.The winners of the first round will go to the second round.</li>

        </ul>
      </div>

      <h3 class="title">ROUND-1 (ELIMINATION ROUND):</h3>
      <div class="event-text">
        <ul>
          <li>Teams for the next round will be selected on the basis of the number of participants.</li>
        </ul>
      </div>

      <h3 class="title">ROUND-2:</h3>
      <div class="event-text">
        <ul>
          <li>Selected teams will compete against each other and top two scorers will fight in the finals.</li>
          <li>The teams for Final challenge will be selected on the basis of second round scores only.</li>
          <li>If the scores tie,then the number of mistakes committed will be considered as the judgement criteria.
          Further information will be given during  the event.</li>



        </ul>
      </div>

        <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
          <li>RAMAN SHARMA 9915755560</li>

          <li>ROHIT KUMAR 9569745540</li>

          <li>MEHAK SHARMA 7009194440</li>

        </ul>
      </div>
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>
    </div>
</section>
