<section class="section-event-page" id="electroVedaPage">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Electo Veda<center><hr></center></h1>
        <!--<p class="event-moto"><q></q><br></p>-->
    </div>

    <h3 class="title">Entry Fees</h3>
    <div class="event-text">
    <p> &#8377;50 per person</p>
    </div>
    <h3 class="title">Schedule</h3>
    <div class="event-text">
      <p>DAY : 1</p>
      <p>TIME : 02:00 pm<p>
      <p>Venue:Lab</p>
    </div>
    <div class="event-body">
      <h3 class="title">Register</h3>
      <div class="event-text"><p>This is a multiple round “on the spot” event, in which first round is a theoretical MCQ test based on electronics and every correct answer earns the participant a virtual money. Using this money participant will move to further round, where they will buy components and make the listed electronic circuits in a given time. Once a team completes a circuit’ it can then sell the circuit, in return of more virtual money .A team can buy new components and build a new circuit and sell it to earn more money .The team with maximum money at the end of predefined time will be considered as winner.

<!--Prizes
1st Worth INR
2nd Worth INR-->
<strong></strong>
        </p>
      </div>
        <h3 class="title">Round 1 (elimination and capital building round)</h3>
        <div class="event-text">
          <ul>
            <li>This is a pen-paper based test. Questions will test participants’ basic knowledge of electronics.</li>
            <li>Every correct answer will earn participant team a definite amount of virtual money.</li>
            <li>Minimum amount of money should be earned in order to qualify to the next round.</li>
          </ul>

  <strong></strong>

        </div>
        <h3 class="title">Round 2 (manufacturing and marketing)</h3>
        <div class="event-text">
          <ul>
            <li>A list of available electronic components with their prices,and a separate list of electronic circuit that can be built with those components will be provided to each team.</li>
<li>Team has to purchase the required components using their virtual money(earned in Round 1) and then build any of the enlisted circuit on Protius.</li>
<li>Each of the enlisted circuit will have a predefined range of market price.</li>
<li>Once a team completes a circuit, they have to sell that circuit to earn more virtual money.</li>
      </ul>

  <strong></strong>
        </div>
        <h3 class="title">Rules and Regulations</h3>
        <div class="event-text">
          <ul>
            <li>A team can consist of maximum 4 participants. Each participant must have a valid ID card.</li>
<li>Penalty price will be mentioned on the list given at the time of event.</li>
<li> Datasheets for IC’s in the component list will be provided at the time of event.</li>
<li> The selling time will be counted in the given 2 hours time. It depends on the team, how quickly they can sell the circuit by efficiently explaining their circuit to the judge.</li>
<li>If all judges at a particular time are busy judging other teams , then the time for which a team will have to wait in line will not be counted in the 2 hrs time.</li>
<li>A particular circuit cannot be made more than once.</li>
<li> At the end of 2 hours the team which has maximum virtual money in hand, either in the form of cash or possessed components will win. </li>
<li> No online help is allowed during the event.</li>
<li> Participants are allowed to carry personal laptops. But pen drive and any sort of material relating to electronics are strictly prohibited.</li>
      </ul>

  <strong></strong>
        </div>

   <!--  <h3 class="title">MARKING & JUDGING CRITERIA (50 MARKS)</h3>
      <div class="event-text">
        <ul>
          <li> Choreography - 10 marks</li>
<li> Costumes -10 marks</li>
<li> Creativity of Steps-10 marks</li>
<li> Grace , Energy & Expression -10marks</li>
<li> Stage Utilization & over-all Impact - 10marks</li>
        </ul>
      </div>  -->

      <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Rampriya  95044 96228</li>
            <li> Abhishek 70871 33346</li>
            <li> Satyam 70871 33321</li>
        </ul>
      </div>
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
