<section class="section-event-page" id="electroQuizPage">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Electro Quiz<center><hr></center></h1>
        <!--<p class="event-moto"><q></q><br></p>-->
    </div>

    <h3 class="title">Entry Fees</h3>
    <div class="event-text">
    <p> &#8377;50 per person</p>
    </div>
    <div class="event-body">
      <h3 class="title">Register</h3>
      <div class="event-text"><p>QRIOSITY is a technical quiz competition to be organized by the Department of ECE It is a one day inter-collegiate event which will consist of 2 rounds.
         The quiz event is expected to invoke curiosity in the bright minds to explore tremendous knowledge in a short period of time.

<!--Prizes
1st Worth INR
2nd Worth INR-->
<strong></strong>
        </p>
      </div>
        <h3 class="title">Eligibility and Requirement</h3>
        <div class="event-text"><p>All the interested students are eligible. They must have two members in their team for participating in the event.


  <strong></strong>
          </p>
        </div>
        <h3 class="title">Event Guidelines</h3>
        <div class="event-text">
          <ul>
        <li>   There will be two rounds</li>
        <li>   First Round:</li>
             <ul>
               <li>This round will be consisting of 30 questions related to Mechanical Engineering.</li>
               <li>After evaluation, we will select three teams for next round.</li>
               <li>Marking: Each question carries +3 marks for correct answer and (-1) for wrong answer.</li>
             </ul>
        <li> Second Round:</li>
           <ul>
             <li>We will take an open quiz round with three teams. They have to respond quickly during question session to receive more marks for their team. </li>
             <li>Marking: Each question carries +3 marks for correct answer and (-1) for wrong answer.</li>
             <li>We will decide the winner on the basis of their total marks.</li>
           </ul>

      </ul>



     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div> -->
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 2</p>
        <p>TIME : 12:00<p>
        <p>Venue:Class room</p>
      </div>
     <!-- <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
    <p>  &#8377;50 per person</p>
      </div>

   <!--  <h3 class="title">MARKING & JUDGING CRITERIA (50 MARKS)</h3>
      <div class="event-text">
        <ul>
          <li> Choreography - 10 marks</li>
<li> Costumes -10 marks</li>
<li> Creativity of Steps-10 marks</li>
<li> Grace , Energy & Expression -10marks</li>
<li> Stage Utilization & over-all Impact - 10marks</li>
        </ul>
      </div>

      <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Abhinav  kumar  70875 10401</li>
            <li> Deepak Kumar 96545 71722</li>
        </ul>
      </div>-->
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
