<section class="section-event-page" id="english_debate">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>English Debate<center><hr></center></h1>
      <!--<p class="event-moto"><q></q><br></p>-->
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Fire, zeal, enthusiasm and antagonistic all are the colours of an orator fighting against each others puritanical thinking ....you guess it right ... That’s the world of DEBATE for you. Explore your skills to present your views in front of others and get a chance to enhance your outlook. The most valuable thing of any society is healthy competition. Therefore, encouraging it in youth is a good way not only of instilling it but also learning to balance it.<br><br>

Topics will be informed to all the participants two days in advance.<strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div> -->
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 2</p>
        <p>TIME : 10:00-12:00<p>
        <!--<p>Venue:</p>-->
      </div>
    <!--  <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;100</p>
      </div>
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> Participants are allowed to use only English. Use of any other language will lead to negative marking</li>
          <li> The time limit is 3 minutes</li>
          <li> Participants can be asked to speak either FOR or AGAINST the topic which would be decided on the basis of draw of lots</li>
          <li> Individual participation (no teams)</li>
          <li> Use of sheets/paper or any other reading material or electronic gadget is not allowed</li>
          <li> Use of aggression and abusive language is strictly not allowed</li>
          <li> Decision of the judge is final and abiding</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Content of the debate </li>
          <li> Flow of thoughts</li>
          <li> Oratory Skills</li>
        </ul>
      </div>

        <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Richa Singh 97792 46961</li>
            <li> Amanpreet kaur 97792 52811</li>
            <li> Aditi Joshi 7986373084</li>
        </ul>
</div>
<center>  <div class="button">
    <a href="register/register.php" target="_blank">Register Now</a>
  </div></center>
    </div>
  </div>

    </div>
</section>
