<section class="section-event-page" id="follow_me">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Follow Me- Roger That!<center><hr></center></h1>
        <!--<p class="event-moto"><q></q><br></p>-->
    </div>


    <div class="event-body">
      <h3 class="title">Register</h3>
      <div class="event-text"><p>Participate in this event to showcase your progess in creating dynamic bots. This event will check your electronics knowledge by applying critical application skills.So come and join the bandwagon to create and showcase bots here at ANANT!
<!--Prizes
1st Worth INR
2nd Worth INR-->
<strong></strong>
        </p>
      </div>

      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;50 per person</p>
      </div>

        <h3 class="title">Eligibility criterion</h3>
        <div class="event-text">
               <ul>

                 <li>Each team will comprise maximum of 4 participants. Single member teams are also allowed.</li>
                 <li>The participants must be an undergraduate student of any college.Team can consist of members from different colleges only.</li>
               </ul>
        </div>
        <h3 class="title">Technical specifications</h3>
        <div class="event-text">
          <ul>
            <li>The bot should fit in the box of 25cm*25 cm*12 cm(l*b*h).</li>
            <li>The bot should be fully autonomous i.e, it will not be allowed to touch after it is switched ON(except in case of full deviation from track).</li>
            <li>The width of track will be 3 cm. The track will be of black colour on white background.</li>
            <li>The voltage drop across any two terminals of the circuit must be less than 12 volt.</li>
            <li>The bot must run of DC supply mounted onboard.</li>
            <li>Use of lego kits(sensor module,motor driver module etc) will lead to disqualification.</li>
            <li>The circuit ob breadboard are allowed but it is strongly recommended to have it on PCB.</li>
      </ul>

  <strong></strong>
        </div>
        <h3 class="title">Game play</h3>
        <div class="event-text">

          <ul>
            <li>There will only be a single round.</li>
 <li>The bot must get checked by organizers before operation.</li>
 <li>Teams can test their bot on a test track before final event.</li>
 <li>Maximum 3 touches will be allowed(each touch makes 5 sec penalty).</li>
 <li>In case of any tie ups winners will be decided based on minimum no. of errors and if there is any further ties then design of bot will be considered.</li>
 <li>The bot can be tested on special track to demonstrate its ability to take sharper turns. However this is not mandatory a team can attempt it for bonus points only.</li>
      </ul>

  <strong></strong>
        </div>
      
   <!--  <h3 class="title">MARKING & JUDGING CRITERIA (50 MARKS)</h3>
      <div class="event-text">
        <ul>
          <li> Choreography - 10 marks</li>
<li> Costumes -10 marks</li>
<li> Creativity of Steps-10 marks</li>
<li> Grace , Energy & Expression -10marks</li>
<li> Stage Utilization & over-all Impact - 10marks</li>
        </ul>
      </div>

      <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Abhinav  kumar  70875 10401</li>
            <li> Deepak Kumar 96545 71722</li>
        </ul>
      </div>-->
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
