<section class="section-event-page" id="footFreakersPage">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Foot Freakers<center><hr></center></h1>
      <!--<p class="event-moto"><q>“Men will come marching with their herculean build, women dressed in
elegance &amp; gilt. Come along take a stylish walk down the memory lane, O’ fella
cause it’s “ANANT-2k18”.”</q><br></p>-->
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Dance is the performance art form consisting of purposefully selected
sequences of human movement. The trust expression of a person is its dance
and music. Bodies never lie. Dancing gives you those movements when you let
yourself loose and let the passion from your soul away your body with the
rhythm “ANANT 2K18” brings together the best dances under one roof. So
get your body out of the way and let your spirit soar and understand the
hidden language of soul with us. <strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;50 per person</p>
      </div>
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> Participants must carry their ID cards with them else their participation will be
cancelled</li>
          <li>  Time limit 7-12 minutes for each performance. Negative marking for exceeding
the time limit</li>
          <li> No on stage limit</li>
          <li>  The participants are requested to bring 2 CD’s to avoid the technical disturbances</li>
          <li> No props will be provided by the coordinators. Participants can carry their own
props. Use of fire, water or any other type of inappropriate props is not allowed</li>
          <li>Dance performance should not convey any indecent gestures</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Choreography- 10 marks</li>
          <li> Synchronization and coordination- 10 marks</li>
          <li> Creativity of steps- 10 marks</li>
          <li> Grace, energy, expression-10 marks </li>
            <li> Stage utilization and overall impact- 10 marks</li>
        </ul>
      </div>

        <!--<h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Divesh Kumar 89681 32069</li>
            <li> Navya 98881 53909</li>
            <li> Nandit Sood 98883 08277</li>
        </ul>
      </div>-->
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>
      </div>
</section>
