<section class="section-event-page" id="freestyleCodingPage">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Freestyle Coding <center><hr></center></h1>
     <p class="event-moto"><q>"Talk is cheaper, show me your codes"</q><br> - linus torvalds</p>
   </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>
        Competitive programming is very essential in this era. to promote the environment of competitive programing among the students.Yantrix scheduled an event freestyleCoding Contest
        on the occassion of <strong>ANANT 2K18 - "WORLD OF FICTION"</strong>
        </p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <strong>Event will be online </strong>
        <p class="heading"> Due to some problems, we have rescheduled the event.<p>
          <p>Sorry for inconvenience.</p>
        <p>Prior informations will be provided in your email, facebook-page, and on website also</p>
      </div>
      <h3 class="title">url</h3>
      <div class="event-text">
        <a href="https://anantfest.in" target="_blank" class="event-text" style="color:white;"> Event Rescheduled</a>
      </div>
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p>free</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p>First Prize : 2000 &#8377;</p>
        <p>Second Prize : 1000 &#8377;</p>
      </div>
      <h3 class="title">General Rules:</h3>
      <div class="event-text">
        <ul>
          <li>The first and the last rule is, <strong>THERE IS NO RULE.</strong> You can participate from anywhere. Just be with your laptop and internet connection</li>
          <li>You are free to use any resources from anywhere</li>
          <li>This is an individual participation contest.so don't try to copy each-other's codes.</li>
          <li>Any case of code plagiarism will result in disqualification</li>
          <li>The organizing committee reserves the right to change any rule at any time as per the requirements.</li>
          <li>The decision of the organizing committee will be final and binding.</li>
        </ul>
      </div>
      <h3 class="title">SCORING CRITERIA:</h3>
      <div class="event-text">
        <ul>
          <li>Each challenge has a predetermined score</li>
          <li>The rank will be based on <strong>ACM </stong> paradigm</li>
          <li>A participant's score depends on the number of test cases a participant’s code submission successfully passes</li>
        <li>You can submit many solutions as you wants</li>
        </ul>
      </div>

        <h3 class="title">Organisers</h3>
          <div class="event-text">
        <ul>
          <li>DILIP KUMAR SHARMA 9631560280</li>

          <li>AYUSH RAJ 9570032998</li>

        </ul>
      </div>
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>
    </div>
</section>
