<section class="section-event-page" id="hydro">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Hydro Jet<center><hr></center></h1>
        <!--<p class="event-moto"><q></q><br></p>-->
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Ready- to- run race. Racing through the zigzag road, mud –pit slopes and avoiding many more obstacles and still finishing within the minimum time ,it’s not a matter of  roadside racer.
<strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>

          <li>GUIDELINES:</li>
<ul>
    <li>Two attempts per round will be allowed.</li>
<li>Launcher for each team is compulsory otherwise 20 points will be deducted.</li>
<li>Pressurizing chamber single stage must be of 2L only.</li>
<li>If multistage rocket is used then 20 points will be awarded to the team. For multistage rocket pressurizing chamber can be of 4L.</li>
</ul>
<li>TRIGGER MECHANISM:</li>
<ul>
<li>While pressurizing rocket participants are not allowed to hold the rocket. There should be proper trigger mechanism to release the rocket.</li>
<li>Foot pumps will be provided.</li>
<li>Water should be used as the only propellant. No other propellant such as soda, any additives are not allowed.</li>
<li>Water will be provided by organizers.</li>
</ul>
        <li>Round 1(Round of Range)</li>
<ul>
<li>Maximum pressure can be 60psi.</li>
<li>If rocket falls within 30deg sector then 10 points will be awarded. If rocket falls between (30deg-60deg) sector then no extra points will be awarded. If rocket falls beyond (0deg-60deg) sector both side then 10 points will be deducted.</li>
<li>To qualify for the second round minimum range of rocket must be 80 meters.</li>
</ul>

<li>Round 2 is bull’s eye round</li>


        </ul>
      </div>
   <!--  <h3 class="title">MARKING & JUDGING CRITERIA (50 MARKS)</h3>
      <div class="event-text">
        <ul>
          <li> Choreography - 10 marks</li>
<li> Costumes -10 marks</li>
<li> Creativity of Steps-10 marks</li>
<li> Grace , Energy & Expression -10marks</li>
<li> Stage Utilization & over-all Impact - 10marks</li>
        </ul>
      </div>-->

      <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Abhinav  kumar  70875 10401</li>
            <li> Deepak Kumar 96545 71722</li>
        </ul>
      </div>
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
