<section class="section-event-page" id="lawQuizPage">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Law Quiz<center><hr></center></h1>
        <!--<p class="event-moto"><q></q><br></p>-->
    </div>
    <div class="event-body">
      <h3 class="title">Areas of Interest</h3>
      <div class="event-text">Constitutional law, Personal
laws(Hindu and Muslim), Law of
Contract( Sale of Goods Act,
Special Contract Act), Laws of
torts, Consumer Protection
laws, Company laws, Criminal
laws , Environment laws,
Property laws ( Tangible and
non-tangible property) and
Labour laws.<p>

<!--Prizes
1st Worth INR
2nd Worth INR-->
<h3 class="title">Entry Fees</h3>
<div class="event-text">
<p> &#8377;50 per person</p>
</div>
<strong></strong>
        </p>
      </div>
      <div class="event-body">
        <h3 class="title">Rules and Regulations and Eligibility Criteria</h3>
        <div class="event-text"><p>1. Only team entries are
eligible.<br/>
2. This quiz is open to all the
students of full time LLB ( 2
year course, BALLB, B.com-
LLB and BBA-LLB (5 year
course) affiliated to
universities.<br/>
3. Each team shall compromise
of maximum number of two
members from the same
department/institute/centre
and there is no restriction on
the number of teams
participating from each
department/institute/centre
.<br/>
4. It is mandatory for all the
members of the team to get
themselves registered and
also to carry their ID cards
into the venue.5. The quiz will be held in three
stages:<br/>
-Elimination round<br/>
-Preliminary round<br/>
-Final round<br/>
6. In elimination round, written
test of qualifying nature will be
conducted. All the registered
teams will participate in this
7. Preliminary and final round
round.<br/>
will be of oral tests.
8. There will be tie breaking
round in case of tie in final<br/>
9. The winning team shall be
round.
given certificate and prize andall the other participating teams
shall be given certificate.<br/>
10. The decision of quiz master
will be final and will not be
subjected to any change.<br/>
11. The participants shall not be
allowed to use any electronic
gadgets.<br/>
12. Audience shall not given any
kind of clue or hint to the
participants.<br/>
13. Replacement of any
participant in a team is not
allowed after registration.<br/>

  <!--Prizes
  1st Worth INR
  2nd Worth INR-->
  <strong></strong>
          </p>
        </div>
        <div class="event-body">
          <h3 class="title">Saving Clause</h3>
          <div class="event-text"><p>
1. The decision of quiz master
will be final and binding.<br/>
2. The OrganizerOrganizers
reserves the rights to mend
any rule and same shall be
notified to all the teams well
in time.<br/>
</p>
</div>


      <h3 class="title">Registration Fees</h3>
      <div class="event-text">
    <p>  &#8377;50 per person</p>
      </div>

   <!--  <h3 class="title">MARKING & JUDGING CRITERIA (50 MARKS)</h3>
      <div class="event-text">
        <ul>
          <li> Choreography - 10 marks</li>
<li> Costumes -10 marks</li>
<li> Creativity of Steps-10 marks</li>
<li> Grace , Energy & Expression -10marks</li>
<li> Stage Utilization & over-all Impact - 10marks</li>
        </ul>
      </div>-->

      <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul><li>Alisha - 9356655017</li>
<li>Honey - 7889234238</li>

        </ul>
      </div>
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
