<section class="section-event-page" id="mockParliamentPage">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Mock Parliment<center><hr></center></h1>
      <!--<p class="event-moto"><q></q><br></p>-->
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>The mock parliament is a fictional parliament which will give a practical experience to our young generation regarding the law making process which is carried down in our union legislature that is parliament. It seeks participation from students across all disciplines.<strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>-->
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 3</p>
        <p>TIME : 10:00<p>
        <p>Venue:Moot Court</p>
      </div>
   <!--   <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;100</p>
      </div>
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
            <li> Participation will be only on individual basis.</li>
            <li> The participants will be allotted their portfolios/roles on the spot by way of chit system i.e.,
                  <ul>
                    <li> Members of Ruling party (including Prime Minister)</li>
                    <li> Members of Opposition party (including Leader of Opposition party)</li>
                    <li> Others</li>
                  </ul>
            </li>
          <li> After presenting the bill, and rebuttals, every member will be given a minute to conclude their speech</li>
          <li> Language: Hindi/English/Punjabi</li>
          <li> The judgment shall be given on the following basis(skills)
              <ul>
                  <li> Relevancy of points</li>
                  <li> Oratory skills</li>
                  <li> Arguments</li>
                  <li> Decorum</li>
	              <li> Research</li>
              </ul>
            </li>
          <li> The prizes will be awarded in the following categories:Best Orator and Best Parliamentarian</li>
          <li> The judgment of the Speaker/Judge will be final.</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Content of the debate </li>
          <li> Flow of thoughts</li>
          <li> Oratory Skills</li>
        </ul>
      </div>

        <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Lakshi 8283099354</li>
            <li> Preeti 94673 57069</li>
        </ul>
</div>
<center>  <div class="button">
    <a href="register/register.php" target="_blank">Register Now</a>
  </div></center>
    </div>
  </div>

    </div>
</section>
