<section class="section-event-page" id="hallaBolPage">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Nukkad_Natak<center><hr></center></h1>
      <p class="event-moto"><q>"STREETS ARE THE STAGE , AND WE GIVE YOU THE AUDIENCE " </q><br></p>
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text">
        <p> Do you have it in you to bring change , do you have enough courage to raise your voice and have your message heard. "ANANT- Twenty Seventeen" gives you a chance to raise your voice, to mend the wrong and act the right! Raise your voice, Raise your concern. Not just to flaunt but for the change in society you want. Depict the reality to portray the disparity; so bring it to the forefront of public psyche. <strong></strong>
        </p>
      </div>
      <!--<h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div> -->
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 3</p>
        <p>TIME : 11:00<p>
        <p>Venue:Kabaddi Ground</p>
      </div>
      <!-- <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;50 per person</p>
      </div>
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> Time Slot:10-23 minutes.The next 2 minutes will be penalized as negative (-ve) marking. The play will be disqualified if it exceeds 25 minutes.</li>
            <li> Props:dupattas, lathis, gulaal, sign  boards. Use of any kind of liquid is not allowed.</li>

            <li> Only Natural percussion instruments are allowed.</li>

            <li> Maximum no. of participants: 25</li>

            <li> Obscenity (at the discretion of judge) of any kind is not allowed</li>

            <li> In all cases , the decision of judges will be final and binding</li>

            <li> A team should be composed of students from same institution and participant should carry their college ID card</li>

        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
            <li> Acting & Expressions - 10 marks</li>
            <li> Script-10 marks</li>
            <li> Coordination -10 marks</li>
            <li>	Music & Presentation - 5 marks</li>
            <li> Energy -10marks</li>
            <li> Crowd Interaction & Over-all Impact - 10marks</li>
            <li> Creativity and Originality - 5 marks </li>
        </ul>
      </div>

        <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Divesh Kumar 89681 32069</li>
            <li> Navya 98881 53909</li>
            <li> Nandit Sood 98883 08277</li>
        </ul>
      </div>
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>
    </div>
</section>
