<section class="section-event-page" id="paricharcha">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Paricharcha(Vaad Vivad)<center><hr></center></h1>
      <p class="event-moto"><q>Hindi Debate</q><br></p>
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Fire, zeal, enthusiasm and antagonism are all the colours of the orators fighting against each other’s priggish thinking!<br>
That’s the world of DEBATE for you. SAMVAD owes you the opportunity to present your views in front of the world and enhance even your own outlook,
 in your own mother tongue, HINDI!<strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> Each team should comprise of two members</li>
          <li> There will be 1 round</li>
          <li> Each team will be allotted 3 minutes to speak for/against the motion in the given round</li>
          <li> Use of sheets/paper or any other reading material or electronic gadget is not allowed</li>
          <li> Interjections are open from the judges, spectators and the other participants</li>
          <li> No other language except HINDI is permitted. Use of slangs, defamatory language etc will lead to negative marking</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Logical chain of thoughts & clarity of expression </li>
          <li> Appropriate grammar usage</li>
          <li> Confidence and body language</li>
          <li> Relevance of content</li>
        </ul>
      </div>

        <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Navroop Kaur 95308 71321</li>
            <li> Yudhvir Singh 70870 80522</li>
            <li> Hemant Saini 76963 53861</li>
        </ul>
</div>
<center>  <div class="button">
    <a href="register/register.php" target="_blank">Register Now</a>
  </div></center>
    </div>
  </div>

    </div>
</section>
