<section class="section-event-page" id="pen">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Pen your fiction<center><hr></center></h1>
      <!--<p class="event-moto"><q></q><br></p>-->
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>A writing competition brought to you by Anant 2018.
Open to all !
<strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> There are two categories : English and Hindi.</li>
          <li> Only one entry per person will be accepted in each category.</li>
          <li> The entries shouldn't exceed four lines of work and must be original.</li>
          <li> Only single author entries qualify (no co-authored entries)</li>
          <li> Entrants must like and share Anant's fb page on their wall.</li>
          <li> Abusive or racist content won't be entertained.</li>
          <li> Each entry must comprise of the written work onto a self-selected background without patent/name of the author.</li>
          <li> The background comprises of 5% of the total score.</li>
          <li> Entries which incorporate known fictional characters will be awarded extra points.</li>
          <li> Entries must be submitted by midnight Feburary 22, 2018.</li>
          <li> Mail entries to: Entries@anantfest.in   With the subject : Pen your fiction.</li>
          <li> The entries will be posted anonymously on Anant's Facebook page.</li>
          <li> The judgment shall be given on the following basis(skills)
              <ul>
                  <li> Best English fiction</li>
                  <li> Best Hindi fiction</li>
                  <li> People's choice</li>
              </ul>
          </li>
          <li> The "Best English and Hindi fiction" will be judged by a panel and "People's choice" would be awarded primarily on the maximum number of likes.</li>
          <li> Winners will receive immense bragging rights along with certificates and Anant goodies.</li>
          <li> Any failure to adhere to these contest rules may result in disqualification.</li>
          <li> THE PEN YOUR FICTION TEAM is not responsible for late, lost, stolen, misdirected, incomplete or illegible entries.</li>
        </ul>
      </div>
      <!--<h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Content of the debate </li>
          <li> Flow of thoughts</li>
          <li> Oratory Skills</li>
        </ul>
      </div>-->

        <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Ayushi Koundal 85560 77352</li>
            <li> Aanchal Sharma 90415 84982</li>
        </ul>
      </div>
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
