<section class="section-event-page" id="pen">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Quizzitch-A General Knowledge Quiz<center><hr></center></h1>
      <!--<p class="event-moto"><q></q><br></p>-->
    </div>
    <div class="event-body">
      <h3 class="title">Two Rounds :</h3>

     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;100</p>
    </div>-->
      <h3 class="title">Prelim Round</h3>
      <div class="event-text">
        <ul>
          <li>25 questions(MCQs)  </li>
          <li>Time-15 minutes </li>

        </ul>

      </div>
      <h3 class="title">Final Round</h3>
      <div class="event-text">
        <p>In final round there will be 8 rounds :</p>
        <ul>
          <li>Current affairs</li>
          <li>History </li>
          <li>Geography</li>
          <li>Science </li>
          <li>Sports</li>
          <li>Literature and mythology </li>
          <li>Mixed bag</li>
          <li>Rapid fire </li>

        </ul>

      </div>
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p>Team of two members- &#8377;30 per team</p>
      </div>
      <h3 class="title">Cash Prizes</h3>
      <div class="event-text">
        <li>&#8377; 1500 (1st place)</li>
        <li>&#8377; 1000 (2nd place) </li>

      <p>along with trophy , certificates and coupons.</p>
      </div>
        <h3 class="title">Venue :</h3>
    <div class="event-text">
      <p>Prelim round-law class room</p>
  <br/>
    <p>Final round-Auditorium stage</p>
  </div>
          <h3 class="title">Date</h3>
          <div class="event-text">
            22 february 2018
          </div>

      <!--<h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Content of the debate </li>
          <li> Flow of thoughts</li>
          <li> Oratory Skills</li>
        </ul>
      </div>-->

        <h3 class="title">Organisers</h3>
      <div class="event-text">
        <p>For registration and any query contact the undersigned :</p>
        <ul>
            <li>Anshu Sood (ECE 3rd year):9417290445 </li>
            <li>Satyam Kumar(ECE 3rd year):7087133321 </li>
            <li>Abhishek Kumar (ECE 3rd year):7087133346  </li>
        </ul>
      </div>
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
