<section class="section-event-page" id="spotlight">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Spotlight<center><hr></center></h1>
      <p class="event-moto"><q>“Men will come marching with their herculean build, women dressed in
elegance &amp; gilt. Come along take a stylish walk down the memory lane, O’ fella
cause it’s “ANANT-2k18”.”</q><br></p>
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>I walk with attitude because the world is beneath
my toes, I see the cameras’ flash, capturing my oomph and my pose, I have
arrived…I am the Star of the Show!!!
A Brilliant mixture of flamboyance, Style and attitude that will redefine
FASHION as you know it. We Promise to set your hearts racing as glamorous
models set the ramp on fire with their attitude and creativity audacity,
“ANANT” presents the Ultimate Fashion Extravaganza- where
excitement levels reach dizzying heights as you become witness to the
sensuous display of thought in form!!. <strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> There will be 12-16 participants in each team</li>
          <li> The time limit is 10 to 15 minutes</li>
          <li> Fashion show will be theme based i.e. “World of Fiction”.</li>
          <li> If the time limit gets exceeded then that team will be disqualified</li>
          <li> Any form of obscenity/vulgarity will result in disqualification from event</li>
          <li> Pre-recorded music should be brought in CDs (2 copies 2 hour before starting the
event)</li>
          <li> The decision given by the judges will be final and un-questionable</li>
          <li> Participants must carry their ID cards with them else their participation will be
cancelled</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Theme based-10 marks</li>
          <li>Ramp walk-10 marks</li>
          <li>Creativity-5marks</li>
          <li>Grace, energy, expression &amp; confidence-10 marks </li>
            <li> Song selection-5marks</li>
            <li> Costumes and overall impact-10 marks</li>
        </ul>
      </div>

        <!--<h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Divesh Kumar 89681 32069</li>
            <li> Navya 98881 53909</li>
            <li> Nandit Sood 98883 08277</li>
        </ul>
      </div>-->
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>
    </div>
</section>
