<style>
.section-event-page{
  color:white;
}
  .event-container{
    direction: rtl;
    background: rgba(0,0,0,0.8);
    overflow: auto;
    height: 100%;
  }
  .event-content{
    direction: ltr;
    display: block;
    width: 100%;
  }
  .heading h1{
    text-transform: uppercase;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 46px;
    text-align: center;
    margin-top:5px;
    padding-top:10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .event-moto{
    font-weight: normal;
    font-size: 36px;
    font-style: italic;
    padding: 0;
  }
  .heading hr{
    margin-top: 4px;
    margin-bottom: 0;
    text-align: center;
    width: 30%;
    border-width: 3px;
    box-shadow: 0 0 2px grey;
  }
  .event-body{
    padding: 10px;
    width:100%;
    display:inline-block;
  }
  .title{
    font-family: 'Berkshire Swash', cursive;
    font-size: 36px;
    margin: 10px;
  }
  .event-text{
    font-size: 20px;
    padding: 5px;
  }
  .button{
    display: inline-block;
    width:500px;
    padding: 20px;
    margin: 10px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    border: 1px solid white;
    box-shadow: 0 0 2px black;
    box-shadow: inset 0 0 3px white;
  }
  .button a{
    color:white;
  }
  @media screen and (max-width:900px){
  .heading h1{
    font-size: 30px;
  }
  .event-text{
    font-size: 15px;
  }
  .button{
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
  }
  .title{
    font-size: 20px;
  }
  .event-moto{
    font-size: 20px;
  }
  }
</style>
<section class="section-event-page" id="stringsPage">
  <div class="container event-container">
    <div class="event-content">
    <center><div class="heading">
      <h1>Strings<center><hr /></center></h1>
      <p class="event-moto"><q>"Where words fail, music speaks"</q><br> -Hans Christian Andersen.</p>
    </div> </center>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Life is all about playing. This instrumental music competition encourages the
        contestants to exhibit their musical abilities and regale a captive audience.</p>
        <p> Let’s make a difference and make
            playing an instrument a joyous event. Let the Music take you away & let the music set you free
            during Instrument Playing Competition. Get ready because its <strong>ANANT 2k18 – WORLD OF FICTION</strong>
        </p>
      </div>
      <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p>All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;50 per person</p>
      </div>
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> Each team or participant could play one or more instruments</li>
          <li>  Each team can have not more than 4 members</li>
          <li> Each team will be given 4-6 minutes to showcase their performance</li>
          <li> Participants must bring their own equipment</li>
          <li> All forms of music are allowed</li>
          <li>The decision of the judges will be final and un-questionable</li>
          <li> Participants must carry their college id cards otherwise their participation would be cancelled</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Rhythm – 20 marks</li>
          <li>Transition – 10 marks</li>
          <li>Grace & Energy – 10 marks</li>
          <li>Crowd Interaction and overall impact – 10 marks </li>
        </ul>
      </div>
    <center>  <div class="button">
        <a href="register/register.php" target="_blank">Register Now</a>
      </div></center>
    </div>
  </div>
</div>
</section>
