<section class="section-event-page" id="techquila">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Techquila<center><hr></center></h1>
      <!--<p class="event-moto"><q>"The Competition is Fierce,
The Stakes are high...
How Will You Fare???
With Only MUSIC to help You FLY!!!”</q><br></p>-->
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>We need fast technology, faster results and fastest coders here.
Techquila is an event in which the participants have to solve problems using C/C++/JAVA. The catch here is, the fastest one to code wins the event  <strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div> -->
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 2</p>
        <p>TIME : 10:00<p>
        <p>Venue:Lab</p>
      </div>
     <!-- <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;100</p>
      </div>
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> Participants must carry their ID cards with them else their participation will be
cancelled</li>
          <li> Single Participant</li>
          <li> No Paper and Pen will be provided</li>
          <li> Maximum Time limit is 15 min</li>
          <li> 2 questions should be attempted out of given 3 options.</li>
          <li> In case if a candidate has attempted more than 2 questions, best two of the attempted questions would be considered.</li>
          <li> Use of phones or any  other electronic gadgets aren’t allowed.No personal laptop is to be used.</li>
          <li> No personal laptop is to be used.</li>
          <li> The result declared by the examiner would be the final</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Based On Accuracy </li>
          <li> Fastest One To Provide The Output</li>
          <li> Error Less Code</li>
        </ul>
      </div>

        <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Rohan Gupta 7508660451</li>
            <li> Sharadendu Tiwari 9915352345</li>
        </ul>
</div>
<center>  <div class="button">
    <a href="register/register.php" target="_blank">Register Now</a>
  </div></center>
    </div>
  </div>

    </div>
</section>
