<section class="section-event-page" id="unplugged">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Unplugged<center><hr></center></h1>
        <p class="event-moto"><q>"The Competition is Fierce,
The Stakes are high...
How Will You Fare???
With Only MUSIC to help You FLY!!!”</q><br></p>
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>A Symphonic Experience Waiting To Mesmerize You!! Soak In The RAAG’S And TAALS Until You Lose Yourself In The Magical Melody Of RENDITIONS.
<strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> Participants must carry their ID cards with them else their participation will be cancelled</li>
            <li> Prelims Round:</li>
<ul>
    <li>Each participant will be given 2-3 min to showcase their performance</li>
    <li>Instruments or Karaoke aren't allowed</li>
    <li>Participants can perform in teams. Each team can consist at maximum 2 members.</li>
    <li>Judges can end any performance any time</li>
</ul>


<li> Final Round:</li>
<li>Initially from Prelims Round, 6 participants shall be selected for the finals (but the no. of participants shall go to finals depends on judges i.e. it can increase or decrease). The participants shall be marked by a jury consisting of 3 judges.</li>




<li>RULES For Finals</li>
<ul>
<li>Each participant will be given 4-6 min to showcase their performance</li>
<li>Participants shall bring all karaoke tracks in a CD on their own</li>
<li>Vulgarity or nudity will directly lead to disqualification</li>
<li>All music forms are allowed</li>
<li>One can use an instrument in the final round subject to choice and availability (to be arranged by the participant)</li>
<li>Only 1 person is allowed to assist during the performance</li>
<li>The decision given by the judges will be final and un-questionable</li>
</ul>

        </ul>
      </div>
     <!-- <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Opening - 10 marks </li>
          <li> Costumes - 10 marks</li>
          <li> Synchronization, Fluidity, Formations, Transitions - 25 marks</li>
          <li> Grace, Energy – 15 marks</li>
          <li> Traditional Steps -10 marks</li>
          <li> Face Expressions - 10 marks</li>
          <li> Instruments Used - 5 marks</li>
          <li> Ending – 10 marks</li>
        </ul>
      </div>-->

       <!-- <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Ayushi Koundal 85560 77352</li>
            <li> Aanchal Sharma 90415 84982</li>
        </ul>
      </div>-->
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
