<section class="section-event-page" id="virsaPage">
  <div class="container event-container">
      <div class="event-content">
    <div class="heading">
      <h1>Virsa : The Legacy<center><hr></center></h1>
        <p class="event-moto"><q>Volkstanz</q><br></p>
    </div>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Dancing is nothing but dreaming with your feet!<strong></strong>
        </p>
      </div>
     <!-- <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p class="event-text">All College students</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 1</p>
        <p>TIME : 13:00-14:00<p>
        <p>Venue:</p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p></p>
      </div>-->
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p> &#8377;50 per person</p>
      </div>
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li> Participants must carry their ID cards with them else their participation will be cancelled</li>
          <li> All forms of folk dances (whether modern or traditional) are acceptable (Bhangra,Giddha, Natti, Luddi, Malwai , etc. )</li>
          <li> Each team is allowed to perform between 8-12 minutes. In the event that a team exceeds the 12 minute time limit a 10 point deduction will be made from each judge’s evaluation form</li>
          <li> Teams must be comprised of at least 8 dancers and no more than 16 dancers. A
dholi and/or singer may also be on the team aside from the 16 dancers. Exceptions
may be made at the discretion of the organizers</li>
          <li> Time starts as soon as your music begins (including any instrumental or vocal
introduction)</li>
          <li> Any sort of traditional instruments can be used in the performance</li>
          <li> No member shall be added or replaced to the team on the last moment</li>
          <li> All team members must provide the appropriate identification when they check in
(Photo id). Please note Photo Id includes–(College Identification Card,Adhaar
card,Driving Licence)</li>
          <li> Each team must bring a soft copy of the track in a Pendrive and DVD with their

music. The soft copy should be submitted to the organisers 2 hours before the
event</li>
          <li> All teams must provide their team name and the name of the members during
registrations</li>
            <li> The decision given by the judges will be final and unquestionable</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Opening - 10 marks </li>
          <li> Costumes - 10 marks</li>
          <li> Synchronization, Fluidity, Formations, Transitions - 25 marks</li>
          <li> Grace, Energy – 15 marks</li>
          <li> Traditional Steps -10 marks</li>
          <li> Face Expressions - 10 marks</li>
          <li> Instruments Used - 5 marks</li>
          <li> Ending – 10 marks</li>
        </ul>
      </div>

       <!-- <h3 class="title">Organisers</h3>
      <div class="event-text">
        <ul>
            <li> Ayushi Koundal 85560 77352</li>
            <li> Aanchal Sharma 90415 84982</li>
        </ul>
      </div>-->
      <center>  <div class="button">
          <a href="register/register.php" target="_blank">Register Now</a>
        </div></center>
    </div>
  </div>

    </div>
</section>
