<section class="section-event-page">
  <div class="container event-container">
    <div class="event-content">
    <center><div class="heading">
      <h1>Web Hackathon<center><hr /></center></h1>
      <p class="event-moto"><q>"Social work is art of listening and the science of Hope,"</q>
        <br><q>"And The great hope of society is in individual character."</q></p>
    </div> </center>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Platform tech solutions have a very sharp vision towards us and regarding our community for making them socially aware and enriched therefore to accomplish our aim we develop websites for social cause.
         Platform tech solutions have to come forward and take initiative steps for social awareness and modification. Rapidly changing technology demands a high-profiled  community that should be well-developed and well- innovative. "Technology is not the revolution ,the revolution is in human awareness.
        It is just made clearer by technology".</p>
        <p>Through this Hackathon Platform tech Solutions want students to surface various drawbacks in society and improvise measures to eradicate them.
          <strong>The students are required to develop a website/app on social cause.</strong>So Get ready For Betterment of society on the ocassion of <strong>ANANT 2k18 – WORLD OF FICTION</strong>
        </p>
      </div>
      <h3 class="title">Eligibility and Requirements</h3>
      <div class="event-text">
        <p>All college students are Eligible for this hackathon<br>
        HackerEarth Id is required for the participants<br>
        final round will be host in college campus. so at least one representative will be present from each team.</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>Hackthon will be online.</p>
        <p>submition portal will be opened from 22 february<p>
        <p></p>
      </div>
      <h3 class="title">Prizes:</h3>
      <div class="event-text">
        <p> updated soon</p>
      </div>
      <h3 class="title">Rules</h3>
      <div class="event-text">
        <ul>
          <li>This is a team participation Hackathon. You can have at most 5 members in your team.</li>
          <li>You can either invite your friends to form a team or you can request other teams to add you as a member.</li>
          <li>It's an online Hackathon, you can participate from anywhere.</li>
          <li>Once the Hackathon starts, you will get an option to submit your hack, you can submit as many times as you want, the last hack will be considered as the final submission.</li>
          <li>You are expected to come up with new and innovative ideas, any idea that has been copied from somewhere will be disqualified.</li>
          <li>You may use open source libraries and other freely available systems / services such as Google Maps, Facebook Connect, Twitter feeds etc.</li>
          <li> Participants must carry their college id cards otherwise their participation would be cancelled</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Idea – 20 marks</li>
          <li>team work – 10 marks</li>
          <li>product – 30 marks</li>
          <li> pitching and documentation– 20 marks </li>
        </ul>
      </div>
    <center>  <div class="button">
        <a href="register/register.php" target="_blank">Register Now</a>
      </div></center>
    </div>
  </div>
</div>
</section>
