<section class="section-event-page">
  <div class="container event-container">
    <div class="event-content">
    <center><div class="heading">
      <h1>workshop (web technology)<center><hr /></center></h1>
      <p class="event-moto"><q>"A website gives you control over your image."<br>
        "A website allows you to stand out from the competition."</p>
    </div> </center>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Platform Tech Solutions offers web application development
        assistance for business and marketing purposes. Platform tech solutions offer a full range of service levels,
         from the small static website to the complex custom web application.
         <strong>"Technology is not the revolution ,the revolution is in human awareness. It is just made clearer by technology".</strong>
          Platform Tech Solutions just focus to provide its best efforts for their upliftment and awareness by developing websites for social cause and global community.</p>
        <p> This Modern era Digital Identity is must for every one.Whether you are applying for a new job or starting a side project,
          Whether you are a famous lawyer or an engineer from any branch, most people will search for your name online, to know about you.
          To solve this problem platform tech solutions organised a work shop on web technology on the occassion of <strong>ANANT 2k18-<i>WORLD OF FICTION</i><strong>
        </p>
      </div>
      <h3 class="title">Prequisites for the course</h3>
      <div class="event-text">
        <p>just know how to on/off a computer</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>DAY : 2</p>
        <p>TIME : 10:00am-4:00<p>
        <p>Venue: CSE LAB</p>
      </div>
      <h3 class="title">Certification</h3>
      <div class="event-text">
        <p>every member will get a participation certificate from Pussgrc
          and Platform tech solutions with the mark of Event associates</p>
      </div>
      <h3 class="title">HighLights</h3>
      <div class="event-text">
        <ul>
          <li>The need of web technology for every one</li>
          <li>Introduction of HTML5</li>
          <li> Each team will be given 4-6 minutes to showcase their performance</li>
          <li> Participants must bring their own equipment</li>
          <li> All forms of music are allowed</li>
          <li>The decision of the judges will be final and un-questionable</li>
          <li> Participants must carry their college id cards otherwise their participation would be cancelled</li>
        </ul>
      </div>
      <h3 class="title">Marking criteria</h3>
      <div class="event-text">
        <ul>
          <li> Rhythm – 20 marks</li>
          <li>Transition – 10 marks</li>
          <li>Grace & Energy – 10 marks</li>
          <li>Crowd Interaction and overall impact – 10 marks </li>
        </ul>
      </div>
    <center>  <div class="button">
        <a href="register/register.php" target="_blank">Register Now</a>
      </div></center>
    </div>
  </div>
</div>
</section>
