<section class="section-event-page" id="workshop">
  <div class="container event-container">
    <div class="event-content">
    <center><div class="heading">
      <h1>workshop<center><hr /></center></h1>
      <p class="event-moto"><q>"A website gives you control over your image."<br>
        "A website allows you to stand out from the competition."</p>
    </div> </center>
    <div class="event-body">
      <h3 class="title">About Event</h3>
      <div class="event-text"><p>Platform Tech Solutions offers web application development
        assistance for business and marketing purposes. Platform tech solutions offer a full range of service levels,
         from the small static website to the complex custom web application.
         <strong>"Technology is not the revolution ,the revolution is in human awareness. It is just made clearer by technology".</strong>
          Platform Tech Solutions just focus to provide its best efforts for their upliftment and awareness by developing websites for social cause and global community.</p>
        <p> This Modern era Digital Identity is must for every one.Whether you are applying for a new job or starting a side project,
          Whether you are a famous lawyer or an engineer from any branch, most people will search for your name online, to know about you.
          To solve this problem platform tech solutions organised a work shop on web technology on the occassion of <strong>ANANT 2k18-<i>WORLD OF FICTION</i><strong>
        </p>
      </div>
      <h3 class="title">Prequisites for the course</h3>
      <div class="event-text">
        <p>just know how to on/off a computer</p>
      </div>
      <h3 class="title">Schedule</h3>
      <div class="event-text">
        <p>Venue: CSE LAB</p>
        <p>DAY : 2</p>
        <p>10:00am: Introductory class<p>
        <p>11:30am -12:00pm: Hands on tutorials<p>
        <p>12:00pm - 1:00pm : component programing and methodologies</p>
        <p>01:00pm - 2:00pm : Break </p>
        <p>2:00pm - 3:30pm : building project </p>
        <p>3:30pm - 4:00pm : Deployment and search Engine optimisation </p>
      </div>
      <h3 class="title">Entry Fees</h3>
      <div class="event-text">
      <p>&#8377; 300</p>
      <p>Use paytm/phonePe/BHIM/upi for payment on 9631560280</p>
      <p><strong>Register earlier to win goodies.</stong>
      </div>
      <h3 class="title">Certification</h3>
      <div class="event-text">
        <p>every member will get a participation certificate from Pussgrc
          and Platform tech solutions possibly with the mark of Event associates</p>
      </div>
      <h3 class="title">HighLights</h3>
      <div class="event-text">
        <ul>
          <li>Build Your cv build your Carreer</li>
          <li>Get a chance to recieve certificates from Microsoft students partenter community</li>
          <li>Get a chance to recieve certificattion from Hoshiarpur Mozilla Campus Club</li>
          <li>Introduction of basic elements</li>
          <li>Introduction of development tools</li>
          <li>Build your Personal Resume/portFolio worth Rs.3000</li>
          <li>Mark your Identity on various search Engine.</li>
        </ul>
      </div>
      <h3 class="title">Speakers</h3>
    <div class="event-text">
      <ul>
        <li>updated soon</li>
      </ul>
    </div>
      <h3 class="title">In Association with</h3>
      <div class="event-text">
        <ul>
          <strong><li>Hoshiarpur Mozilla campus Club</li></strong>
          <strong><li>Microsoft student partenter community</li></strong>
        </ul>
      </div>
      <h3 class="title">Organisers</h3>
    <div class="event-text">
      <ul>
        <li>DILIP KUMAR SHARMA 9631560280</li>

        <li>AKANKSHA SHARMA 9464218802</li>

      </ul>
    </div>
    <center>  <div class="button">
        <a href="register/register.php" target="_blank">Register Now</a>
      </div></center>
    </div>
  </div>
</div>
</section>
