{% extends 'base.html' %}

{% block body %}
{% include 'navbar.html' %}
  <div id="pt-main" class="pt-perspective">
        <div class="pt-page pt-page-1">
        <header>
          <div class="main-header" id="home">
            <div class="header-quotation">
              <div class="logo-tag">
                <div class="logo flex-item">
                  <img class="animated slideInLeft" src="img/logo.png" alt="logo" width="200px"/>
                </div>
            <!--    <i class="line"></i> -->
                <div id="logo-quote" class="flex-item animated slideInRight">
                  <h6 class="logo-text2">PUSSGRC PRESENT'S</h6>
                  <h1 class="logo-text1">ANANT - 2k18</h1>
                  <h3 class="logo-text">World of fiction</h3>
                </div>
              </div>
              <div class="moto"><h1 id="moto-text"></h1></div>
              <div class="regBtn">
                <a href="register/register.php" class="btn-liquid" target="_blank">
                  <span class="inner" style="font-family: 'Macondo', cursive;font-size: 1.8rem;">Register Now</span>
                </a>
              </div>
              <div id="counter">
                <p id="demo"></p>
              </div>
            </div>
          </div>
        </header>
			</div>
      <!-- page 2 -->

			<div class="pt-page pt-page-2">
          {% include 'aboutUs.html' %}
      </div>
			<div class="pt-page pt-page-3">
			   {% include 'events.html' %}
			</div>
			<div class="pt-page pt-page-4">
        {% include 'socialCause.html' %}
      </div>
			<div class="pt-page pt-page-5">
			  {% include 'accomodation.html' %}
			</div>
      <div class="pt-page pt-page-6">
        {% include 'sponsers.html' %}
      </div>
      <div class="pt-page pt-page-7">

      </div>
      <div class="pt-page pt-page-8">
        {% include 'anantWebTeam.html'%}
      </div>
      <div class="pt-page pt-page-9">
          {% include 'contactUs.html' %}
      </div>
      <div class="pt-page pt-page-11">
          {% include 'event-page/web-hackathon.html' %}
      </div>
      <div class="pt-page pt-page-12">
            {% include 'event-page/workshop.html' %}
      </div>
      <div class="pt-page pt-page-13">
            {% include 'event-page/dazzle-coding.html' %}
      </div>
      <div class="pt-page pt-page-14">
            {% include 'event-page/Techquila.html' %}
      </div>
      <div class="pt-page pt-page-15">
            {% include 'event-page/follow_me.html' %}
      </div>
      <div class="pt-page pt-page-16">
            {% include 'event-page/robo_tyro_league.html' %}
      </div>
      <div class="pt-page pt-page-17">
            {% include 'event-page/electro_quiz.html' %}
      </div>
      <div class="pt-page pt-page-18">
            {% include 'event-page/electro_veda.html' %}
      </div>
      <div class="pt-page pt-page-19">
            {% include 'event-page/dust_racer.html' %}
      </div>
      <div class="pt-page pt-page-21">
            {% include 'event-page/hydro.html' %}
      </div>
      <div class="pt-page pt-page-22">
          {% include 'event-page/nukkad_natak.html' %}
      </div>
      <div class="pt-page pt-page-23">
          {% include 'event-page/foot_freakers.html' %}
      </div>
      <div class="pt-page pt-page-24">
          {% include 'event-page/strings.html' %}
      </div>
      <div class="pt-page pt-page-25">
          {% include 'event-page/lose_yourself.html' %}
      </div>
      <div class="pt-page pt-page-26">
          {% include 'event-page/spotlight.html' %}
      </div>
      <div class="pt-page pt-page-27">
          {% include 'event-page/unplugged.html' %}
      </div>
      <div class="pt-page pt-page-28">
          {% include 'event-page/virsa.html' %}
      </div>
      <div class="pt-page pt-page-29">
          {% include 'event-page/paricharcha.html' %}
      </div>
      <div class="pt-page pt-page-31">
          {% include 'event-page/english-debate.html' %}
      </div>
      <div class="pt-page pt-page-32">
          {% include 'event-page/pen.html' %}
      </div>
      <div class="pt-page pt-page-33">
          {% include 'event-page/mock_parliament.html' %}
      </div>
      <div class="pt-page pt-page-34">
          {% include 'event-page/law_quiz.html' %}
      </div>
      <div class="pt-page pt-page-35">
          {% include 'event-page/quizzitch.html' %}
      </div>
      <div class="pt-page pt-page-36">
            {% include 'event-page/freestyleCoding.html' %}
      </div>
      <div class="pt-page pt-page-37">
            {% include 'event-page/bot.html' %}
      </div>
  </div>
<!-- current id= 37 at bot.html , MECHANICAL -->

	<!--	<div class="pt-message">
			<p>Your browser does not support CSS animations.</p>
		</div>  -->
{% endblock %}
