<style>
			.section-about{
				background-image: url("https://media.giphy.com/media/l3q2Cy90VMhfoA9BC/giphy.gif");
				background-repeat: no-repeat;
				background-size: cover;
				width: 100%;
        padding: 0;
        margin: 0;
        display:block;
        position: absolute;
			}
			#aboutAnant{
				background-color: black;
				opacity: 0.7;
				margin: 50px;
				padding: 50px;
			}
			#aboutTheme{
				background-color: black;
				opacity: 0.7;
				margin: 50px;
				padding: 50px;
			}
			#title{
				font-family: 'Berkshire Swash', cursive;
				font-size: 36px;
				color: white;
				letter-spacing: 3px;
			}
			#para{
				font-family: 'Macondo', cursive;
				font-size: 20px;
				padding-top: 10px;
				color: white;
			}
			@media screen and (max-width: 480px) {
 			   #tite{
        			font-size:26px;
    			}
    			#para{
    				font-size: 16px;
    			}
    			#aboutAnant{
    				margin: 15px;
    				padding: 15px;
    			}
    			#aboutTheme{
    				margin: 15px;
    				padding: 15px;
    			}
			}
		</style>
	</head>
	<body>
<section class="section-about">

    			<!--Div for About Anant -->
    			<div id="aboutAnant">
            <center><h1 id="title">About Anant</h1>
            <hr width="20%">
            <p id="para">This year we present ANANT Twenty Eighteen, the 8th annual techno-cultural festival of Panjab University SSG Regional Centre, Hoshiarpur. We at PUSSGRC put our heart and soul into making this college extravaganza a great success. Collaboration is the key to success and ANANT provides you the platform for it. Our students have an urge for excellence and ANANT helps you fulfil it. ANANT is growing each year since 2009 and is transforming into one of the biggest techno-cultural fesivals in the area.</p>
            <p id="para">So, live the romance, live the rain, live the gusto, live the legacy and live the life, just here with us at ANANT Twenty Eighteen</p></center>
        </div>

        <!-- Div for Theme-->
         <div id="aboutTheme">
          <center><h1 id="title">World of Fiction</h1>
          <hr width="20%">
          <p id="para">Where reality ends, fiction begins. Fiction reveals truth that reality obscures. Artist use lies to tell the truth. They created lies because we believed in it, we found something true about ourself.</p>
          <p id="para">Fiction is something upon which we go cold-turkey, our mind and consciousness changes. It is anything that makes you believe that occupies your time, that plays with your time and that alters our time.</p>
          <p id="para">Let's step out of our thoughts and transport ourselves into a make believe abstraction in the 'WORLD OF FICTION' at ANANT TWENTY EIGHTEEN</p></center>
        </div>
  </section>
