<section class="section-event-page" id="">
  <div class="container event-container">
    <div class="event-content">
      <div class="heading">
        <h1>Accomodation<center><hr> </center></h1>
      </div>
      <div class="event-body">
        <h3 class="title">Instructions</h3>
        <div class="event-text">
          <ol>
            <li>At the time of check-out the participants are required to return all the commodities provided to them to the organisers.</li>
            <li>Random checks would be made to avoid any illegal stay at the campus. Any team failing to produce their receipts of accommodation would be heavily fined.</li>
            <li>All student participants must carry their valid College photo ID card. Others must bring their valid photo identity for the purpose of entry. People without valid photo identity card will not be allowed inside the campus during ANANT FEST.</li>
            <li>Alcohol, drugs, sharp objects and explosives of any kind are strictly prohibited inside the campus. The decision of Security team will be final in case of any disputes.</li>
            <li>PUSSGRC and the ANANT OC will not be responsible for any mishaps that occur through the duration of stay for the Anantfest</li>
            <li>There are different fully secure accomodations for girls, boys, group delegations and students.</li>
          </ol>
          Hope to see you here at the PUSSGRC Anant-2k18 We will be more than happy to receive your suggestions and queries.
        </div>
        <h3 class="title">Accomodation Fees</h3>
        <div class="event-text">
        <p>&#8377; 300 / Room, (max 4 person) </p>
        <p>&#8377; 100  for one person shared basis</p>
      </div>
        <h3 class="title">FAQ'S</h3>
        <div class="event-text">
          <ol>
            <li><b>What is the payment procedure?</b></li>
            Payment has to be made on Information Desk
            <li><b>What are the charges?</b></li>
            Registration charges are listed under registration guidelines tab. The accommodation charges and other necessary details regarding the accommodation are available under the tab Accommodation.
            <li><b>What are the necessary documents that I am supposed to bring?</b></li>
            For students who have not applied for accommodation, Just the college identity card would do. If you have applied for accommodation, failing to bring any of the documents may lead to cancellation of your accommodation. The documents are: Accommodation
            Payment Receipt received after paying online. Accommodation Confirmation mail from PUSSGRC ANANT-2k18 Team.
            <li><b>Will all the team members be given accommodation at the same place?</b></li>
            Outstation participants who have registered or paid for accommodation are requested to report to the accommodation desk/ online registration desk where the required formalities involving checking of documents, allotment of rooms will be done.
            <li><b>Shall I carry my ID card with me?</b></li>
            It is mandatory for all participants to carry college IDs. This is for your own convenience. Moreover you will be asked to produce your college ID cards at the time of registration at the campus.
            <li><b>What kind of accommodation is provided?</b></li>
            Accommodation is provided on a triple sharing basis. There is different accomodation for Girls, Boys, Group Delegations and Students.
            <li><b>What about medical facilities?</b></li>
            There is an institute Hospital located in the campus itself. In case you fall ill, you are advised to report to us at registration desk. We shall make appropriate arrangements for you to be treated at the Institute hospital.
            <li><b>What about the security facilities?</b></li>
            PUSSGRC campus has a vigilant and round-the-clock security service. To ensure the safety of the participants, there will be additional security guards in the campus as well as the hotels in order to avoid thefts and other mishaps. Although PUSSGRC team
            will not take responsibility of any theft or other mishaps. So participants are requested to take care of their luggage and valuable items.
            <li><b>Is there an ATM inside the campus?</b></li>
            There is an SBI Bank ATM located just outside the campus.
            <li><b>Do the accommodation charges include food facilities too?</b></li>
            No, the food facilities charges are not included.
            <li><b>One of our team members who had been provided accommodation is unable to come so can we replace him with our other team member?</b></li>
            Yes, but the person coming should have all the documents that the other member was supposed to have and the person should be of the same college.
          </ol>
        </div>
        <h3 class="title"></h3>
        <div class="event-text">
          <strong>For any issues regarding accommodation please contact any one of the following:</strong>
          <ul>
            <li> Divesh Kumar 89681 32069</li>
            <li> Akansha Sharma 94642 18802</li>
          </ul>
        </div>
        <center>
          <div class="button">
            <a href="register/register.php" target="_blank">Register Now</a>
          </div>
        </center>
      </div>
    </div>
  </div>
</section>
