<nav class="navbar-fix">
  <ul class="navbar-list">
    <li   class="navbar-item "><a id="0" class="navbar-link page-transition" href="#home">Home</a></li>
    <li   class="navbar-item"><a id="1" class="navbar-link page-transition" href="#about">About-us</a></li>
    <li   class="navbar-item"><a id="2" class="navbar-link page-transition" href="#">Events</a></li>
    <li  class="navbar-item"><a id="3" class="navbar-link page-transition" href="#social">social cause</a></li>
    <li  class="navbar-item"><a id="4" class="navbar-link page-transition" href="#social">Accomodation</a></li>
    <li  class="navbar-item"><a id="5" class="navbar-link page-transition" href="#">sponsors</a></li>
    <li  class="navbar-item"><a id="7" class="navbar-link page-transition" href="#">website team</a></li>
    <!-- <li id="7" class="navbar-item"><a class="navbar-link" href="#">Our team</a></li> -->
    <li  class="navbar-item"><a id="8" class="navbar-link page-transition" href="#contact">Contact us</a></li>
  </ul>
</nav>
