<style>
/***********************************************
Social cause
***********************************************/
.full{
    margin: 0px;
    padding: 0px;
    background-color: #f9fbe7;
    color: #D3B53D;
}
.headin{
    font-family: 'Open Sans Condensed', sans-serif;
        font-size: 4em;
    font-weight:900;
    color:#ef5350;
    margin:auto;
  }
  .sty{
    color:#ef5350;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 300%;

    margin-top: 5%;
}
.icon{

/*border:1px solid red;*/
padding-left: 30%;
margin:0px;
}
.icon2{

/*border:1px solid red;*/
padding-left: 30%;
margin:0px;
}
#stats{
    font-family: "BebasNeueRegular","Arial Narrow" sans-serif;
    text-align:center;
    letter-spacing: 0.7px;
    line-height: 1.5;
    word-spacing: -0.1em;
    font-weight: medium;
    font-size: 1.2em;
    color: black;
    margin-top: 0.5%;
}

@media only screen and (max-width: 800px) {
     .headin{
        width: auto;
        font-size:4em;
        font-weight:bold;

    }

}
</style>

<section class="full" style="overflow-y:scroll;overflow-x:hidden;">
    <center>  <div class="headin">BLOOD DONATION CAMP</div> </center>
        <div class="main"><img class="main" src="img/unnamed.jpg" width="100%" /></div>
       <div class="stats">
        <p class="sty">FACTS</p>
       </div>

      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-sm-3">
          <div class="icon"><img src="img/2.png" /></div>
          <p class="fact">The average adult has about 10 pints of blood in his body,whereas roughly 1 pint is given during a donation</p>
        </div>

        <div class="col-sm-3">
          <div class="icon"><img src="img/111.png" /></div>
          <p class="fact">The shelf-life of donated blood is 35 to 42 days,there is a constant need to replenish stocks in our blood banks</p>
        </div>

        <div class="col-sm-3">
          <div class="icon"><img src="img/four.png" /></div>
          <p class="fact">
            Blood cannot be manufactured anywhere or synthesized indirectly,it can only come from generous donors</p>
        </div>

        <div class="col-sm-3">
          <div class="icon"><img src="img/five.png" /></div>
          <p class="fact">2 or 3 lives can be saved from the blood cells, plasma and platelets obtained from just a single unit of blood</p>
        </div>
      </div>

      <div class="stats">
        <p class="sty">STATISTICS</p>
      </div>

      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-sm-4">
          <div class="icon"><img src="img/one1.png" /></div>
          <p class="fact">More than 38,000 blood donations are needed every day</p>
        </div>

        <div class="col-sm-4">
          <div class="icon"><img src="img/iii.png" /></div>
          <p class="fact">According to the Ministry of Health and Family Welfare,in 2015-16,blood collection witnessed a shortage of 11.5 lakh units</p>
        </div>

        <div class="col-sm-4">
          <div class="icon"><img src="img/three1.png" /></div>
          <p class="fact">
            India faced a 10 per cent shortage in its estimated blood requirement in 2015-16</p>
        </div>

      </div>

      <div class="stats">
        <p class="sty">CONTACT</p>
      </div>
    <div class="section group e row">
      <div class="col-sm-6" style="text-align: center;">
        <div class="icon1" style="align-content: center;">
          <img src="img/ph.png" />
        </div>
        <p class="fact" style="align-content: center;">Official +91-9888779710</p>
      </div>


      <div class="col-sm-6"style="text-align: center;">
        <div class="icon1" style="align-content: center;">
          <img src="img/em.png" />
        </div>
        <p class="fact" style="align-content: center;">info@anantfest.in</p>
      </div>
    </div>
</section>
