<style>
#heading{
  text-align: center;
}
</style>
<section class="section-webTeam">
  <div class="container event-container">
    <div class="event-content">
      <div class="heading">
        <h1 style="color:white; font-weight:600;">Team - Anant<center><hr></center></h1>
      </div>

      <div class="container">
        <center><h1 id="heading">Convener</h1></center>
      <div class="row" id="rou">
        <div class="col-sm-12">
          <center><div class="containerTeam">

            <div id="card">  <div class="container">
              <figure class="front" style="background-image:url('img/team/Manuj.jpg');"></figure>
              <figure class="back">
                <p class="text textTeam">Manuj Sharma<br>Mech 3rd year<br>
                  <h1><a href="https://www.facebook.com/manuj.sharma.391" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/manuj-sharma-4a522912b/" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a>
             </h1></p>
              </figure>
            </div>
          </div>
        </div> </center>
      </div>
    </div>

  <div class="container">
    <center><h1 id="heading">Joint-Convener</h1></center>
      <div class="row" id="rou">
        <div class="col-xs-12">
        <center>  <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/vansh.jpg')"></figure>
              <figure class="back">
                <p class="text">Vansh Singla<br>IT 3rd year<br>
                  <a href="" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a>
                </p>
              </figure>
            </div>
          </div> </center>
        </div>
      </div>
    </div>
<div class="container">
<center><h1 id="heading">Co-Convener</h1><center>
      <div class="row" id="rou">
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/joshi.jpg');"></figure>
              <figure class="back">
                <p class="text">Rajat Joshi<br>BALLB 4th year<br><a href="" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/rajneesh.jpg');"></figure>
              <figure class="back">
                <p class="text">Rajneesh Rana<br>IT 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/harsh.jpg');"></figure>
              <figure class="back">
                <p class="text">Harsh Thakur<br>LLB 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
  <center><h1 id="heading">Website and Designing</h1></center>
      <div class="row" id="rou">
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/Divesh.jpg');"></figure>
              <figure class="back">
                <p class="text">Divesh Kumar<br>CSE 3rd year<br><a href="https://www.facebook.com/diveshkumar.singh.16" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/divesh-kumar-8576a7130/" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/Akanksha.jpg');"></figure>
              <figure class="back">
                <p class="text">Akansha Sharma<br>CSE 2nd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/eshita.jpg')"></figure>
              <figure class="back">
                <p class="text">Eshita Gupta<br>Cse 2nd year<br>
                  <a href="https://www.facebook.com/eshita.gupta.33?ref=br_rs" target="_blank" style="color:white;margin:5px;">
                                <i class="fa fa-facebook"></i>
                            </a>
                  <a href="https://www.linkedin.com/in/eshita-g-6baabb131/" target="_blank" style="margin:5px;color: white;">
                                <i class="fa fa-linkedin"></i>
                            </a>
                </p>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
  <center><h1 id="heading">Technical</h1><hr width="10%" /></center>
  <center><h3 id="heading">CSE/IT/MCA</h3></center>
      <div class="row" id="rou">
        <div class="col-sm-6">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/any.jpg');"></figure>
              <figure class="back">
                <p class="text">Jaskaran Singh<br>MCA 2nd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/Rashi.jpg');"></figure>
              <figure class="back">
                <p class="text">Rashi Srivastava<br>CSE 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <center><h3 id="heading">ECE</h3></center>
      <div class="row" id="rou">
        <div class="col-sm-12">
        <center><div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/laxman.jpg')"></figure>
            <figure class="back">
              <p class="text">Laxman Singh<br>ECE 3rd year<br>
                <a href="https://www.facebook.com/profile.php?id=100007148732259" target="_blank" style="color:white;margin:5px;">
                                <i class="fa fa-facebook"></i>
                            </a>
                <a href="https://www.linkedin.com/search/results/index/?keywords=laxman&origin=GLOBAL_SEARCH_HEADER" target="_blank" style="margin:5px;color: white;">
                                <i class="fa fa-linkedin"></i>
                            </a>
              </p>
            </figure>
          </div>
        </div></center>
      </div>
    </div>

<div class="container">
  <center><h3 id="heading">Mechanical</h3></center>
      <div class="row" id="rou">
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/ujjwal.jpg');"></figure>
              <figure class="back">
                <p class="text">Ujjwal Gupta<br>Mech 3rd year<br><a href="http://www.facebook.com/ujjwal.gupta.12382" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/ujjwal-gupta-aa0b4714a" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/DAKSH.jpg');"></figure>
              <figure class="back">
                <p class="text">Daksh Sahore<br>Mech 3rd year<br><a href="https://www.facebook.com/sahoredaksh17" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/daksh-sahore/" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/simran.jpg');"></figure>
              <figure class="back">
                <p class="text">Simranjeet Kaur<br>Mech 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="container">
  <center><h1 id="heading">Marketing and Sponsorship</h1></center>
      <div class="row" id="rou">
        <div class="col-sm-3">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/Abhay.jpg');"></figure>
              <figure class="back">
                <p class="text">Abhay Bhardwaj<br>Mech 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/suraj.jpg');"></figure>
              <figure class="back">
                <p class="text">Suraj Dewan<br>MCA 1st year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/abhishek.jpg');"></figure>
              <figure class="back">
                <p class="text">Abhishek Saini<br>IT 2nd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/udyan.jpg');"></figure>
              <figure class="back">
                <p class="text">Udyan Sharma<br>IT 2nd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
      </div>


      <!-- Cultural and Informls-->
      <div class="container">
          <center><h1 id="heading">Cultural and Informls</h1></center>
      <div class="row" id="rou">
        <div class="col-sm-6">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/rheat.jpg');"></figure>
              <figure class="back">
                <p class="text">Rhea Sharma<br>CSE 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="containerTeam">
            <div id="card">
              <figure class="front" style="background-image:url('img/team/gaurav.jpg');"></figure>
              <figure class="back">
                <p class="text">Gaurav Sharma<br>ECE 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Div for Publicity -->
    <div class="container">
      <center><h1 id="heading">Publicity</h1></center>
    <div class="row" id="rou">
      <div class="col-sm-4">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/Lakshay.jpg');"></figure>
            <figure class="back">
              <p class="text">Lakshay Saini<br>ECE 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/Divisha.jpg');"></figure>
            <figure class="back">
              <p class="text">Divisha Singh<br>IT 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/Megha.jpg');"></figure>
            <figure class="back">
              <p class="text">Megha Bansal<br>ECE 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
    </div>

    <!-- Div for Creativity -->
    <div class="container">
      <center><h1 id="heading">Creativity</h1></center>
    <div class="row" id="rou">
      <div class="col-sm-6">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/any.jpg');"></figure>
            <figure class="back">
              <p class="text">Arushi Gupta<br>CSE 2 nd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/Nidhi.jpg');"></figure>
            <figure class="back">
              <p class="text">Nidhi Singh<br>Mech 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Div for Hospitality -->
    <div class="container">
        <center><h1 id="heading">Hospatility</h1></center>
    <div class="row" id="rou">
      <div class="col-sm-6">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/Himanshu.jpg');"></figure>
            <figure class="back">
              <p class="text">Himanshu Salgotra<br>ECE 2nd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/Jyotika.jpg');"></figure>
            <figure class="back">
              <p class="text">Jyotika<br>LLB 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Div for InfoHub -->
    <div class="container">
      <center><h1 id="heading">InfoHub</h1></center>
    <div class="row" id="rou">
      <div class="col-sm-6">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/reeyas.jpg');"></figure>
            <figure class="back">
              <p class="text">Reeya Sheel<br>CSE 3rd year<br><a href="#" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/reeya-sheel-71117rj
" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="containerTeam">
          <div id="card">
            <figure class="front" style="background-image:url('img/team/Shilpy.jpg');"></figure>
            <figure class="back">
              <p class="text">Shilpy Khanna<br>Cse 3rd year<br><a href="https://www.facebook.com/shilpy.khanna.75" target="_blank" style="color:white;margin:5px;"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/shilpy-khanna-25b945123" target="_blank" style="margin:5px;color: white;"><i class="fa fa-linkedin"></i></a></p>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Div for Results -->
    <div class="container">
      <center><h1 id="heading">Results and Certificates</h1></center>
    <div class="row" id="rou">
    <div class="col-sm-12">
      <center><div class="containerTeam">
        <div id="card">
          <figure class="front" style="background-image:url('img/team/Mansher.jpg')"></figure>
          <figure class="back">
            <p class="text">Mansher Singh Gill<br>IT 3rd year<br>
              <a href="https://m.facebook.com/gillmansher" target="_blank" style="color:white;margin:5px;">
                                <i class="fa fa-facebook"></i>
                            </a>
              <a href="https://www.linkedin.com/in/mansher-gill-1b234b105" target="_blank" style="margin:5px;color: white;">
                                <i class="fa fa-linkedin"></i>
                            </a>
            </p>
          </figure>
        </div>
      </div></center>
      </div>
    </div>
</div>

    <!-- Div for Discipline -->
    <div class="container">
        <center><h1 id="heading">Discipline</h1></center>
    <div class="row" id="rou">
      <div class="col-sm-12">
      <center><div class="containerTeam">
        <div id="card">
          <figure class="front" style="background-image:url('img/team/mohit.jpg')"></figure>
          <figure class="back">
            <p class="text">Mohit Dhanda<br>IT 3rd year<br>
              <a href="https://m.facebook.com/gillmansher" target="_blank" style="color:white;margin:5px;">
                                <i class="fa fa-facebook"></i>
                            </a>
              <a href="https://www.linkedin.com/in/mansher-gill-1b234b105" target="_blank" style="margin:5px;color: white;">
                                <i class="fa fa-linkedin"></i>
                            </a>
            </p>
          </figure>
        </div>
      </div>
      </div> </center>
    </div>
  </div>


    <!-- Div for Literary -->
    <div class="container">
        <center><h1 id="heading">Literary</h1></center>
    <div class="row" id="rou">
      <div class="col-sm-12">
      <center><div class="containerTeam">
        <div id="card">
          <figure class="front" style="background-image:url('img/team/Anchal.jpg')"></figure>
          <figure class="back">
            <p class="text">Aanchal Sharma<br>Cse 3rd year<br>
              <a href="https://www.facebook.com/profile.php?id=100009930690482" target="_blank" style="color:white;margin:5px;">
                                <i class="fa fa-facebook"></i>
                            </a>
              <a href="https://www.linkedin.com/in/aanchal-sharma-0829b8148/" target="_blank" style="margin:5px;color: white;">
                                <i class="fa fa-linkedin"></i>
                            </a>
            </p>
          </figure>
        </div>
      </div>
      </div> </center>
    </div>
  </div>


    <!-- Div for Anchoring -->
    <div class="container">
      <center><h1 id="heading">Anchoring</h1></center>
    <div class="row" id="rou">
      <div class="col-sm-12">
      <center><div class="containerTeam">
        <div id="card">
          <figure class="front" style="background-image:url('img/team/varun.jpg')"></figure>
          <figure class="back">
            <p class="text">Varun Khurana<br>Cse 3rd year<br>
              <a href="https://www.facebook.com/profile.php?id=100009930690482" target="_blank" style="color:white;margin:5px;">
                                <i class="fa fa-facebook"></i>
                            </a>
              <a href="www.linkedin.com/mwlite" target="_blank" style="margin:5px;color: white;">
                                <i class="fa fa-linkedin"></i>
                            </a>
            </p>
          </figure>
        </div>
      </div>
      </div> </center>
    </div>
  </div>

    </div>
  </div>
</section>
